:root {
    --text-color: #E1E1E1;
    --card-front-color: #1E2A47;
    --card-back-color: #3B4C78;
    --border-color: #5A6C91;
}

body {
    background: linear-gradient(45deg, #041234, #073a7c);
    background-size: 300% 300%;
    animation: gradientAnimation 5s ease infinite;
    font-family: 'Arial', sans-serif;
    color: var(--text-color);
    margin: 0;
    padding: 0;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 4rem;
    gap: 3rem;
    perspective: 1000px;
}

.cartao {
    margin: 1rem 1rem;
    height: 20rem; /* Manter altura original */
    flex-grow: 1;
    flex-basis: calc(33% - 6rem); /* Manter largura original */
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.cartao:hover {
    transform: scale(1.05);
}

.cartao__conteudo {
    background-color: var(--card-front-color);
    padding: 1.5rem;
    text-align: center;
    border-radius: 8px;
    transition: transform 300ms ease-in-out;
    position: relative;
    transform-style: preserve-3d;
}

.cartao__conteudo h3 {
    color: var(--text-color);
    border-bottom: 2px solid var(--border-color);
    padding-bottom: 0.5rem;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    backface-visibility: hidden;
}

.cartao__conteudo p {
    color: var(--text-color);
    font-size: 1rem;
    line-height: 1.5;
}

.cartao__conteudo__pergunta p {
    color: var(--text-color);
    font-weight: 500;
    text-align: center;
    padding: 2rem; /* Adiciona o padding para afastar o texto da borda */
}

.cartao__conteudo__resposta p {
    color: white;
    font-weight: 700;
    text-align: center;
    padding: 2rem; /* Adiciona o padding para afastar o texto da borda */
}


.cartao.active .cartao__conteudo {
    transform: rotateY(180deg);
}

.cartao.active .cartao__conteudo h3 {
    visibility: hidden; /* Esconde o título quando o card virar */
}

.cartao__conteudo__pergunta,
.cartao__conteudo__resposta {
    backface-visibility: hidden; /* Garante que o outro lado não fique visível */
    position: absolute;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cartao__conteudo__pergunta {
    transform: rotateY(0deg); /* Frente não precisa de rotação */
}

.cartao__conteudo__resposta {
    transform: rotateY(180deg); /* Alinha corretamente a resposta */
    background-color: transparent; /* Remove o retângulo azul */
    border: none; /* Remove a borda */
}

footer {
    background-color: #1E2A47;
    color: var(--text-color);
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 3rem;
}

footer p {
    text-align: center;
    font-size: 0.8rem;
    padding-top: 0.5rem;
}

@media (max-width: 560px) {
    body {
        background-color: #212D40;
    }

    .cartao {
        flex: 1 0 calc(100% - 2rem);
    }

    .cartao__conteudo h3 {
        font-size: 4vw;
    }

    .cartao__conteudo p {
        font-size: 4.5vw;
    }
}
