:root {
    --text-color: #E1E1E1;  /* Texto claro */
    --card-front-color: #1E2A47; /* Azul profundo para o cartão */
    --card-back-color: #3B4C78; /* Azul mais suave para o verso */
    --border-color: #5A6C91; /* Cor sutil para as bordas */
}

body {
    background-color: #212D40; /* Fundo escuro */
    font-family: 'Arial', sans-serif; /* Fonte limpa e moderna */
    color: var(--text-color);
    margin: 0;
    padding: 0;
}

#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 3rem;
    gap: 2rem;
}

.cartao {
    margin: 1rem;
    width: 18rem;
    border-radius: 10px; /* Bordas arredondadas */
    overflow: hidden; /* Para não vazar conteúdo */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Sombra suave */
    transition: transform 0.3s ease;
}

.cartao:hover {
    transform: scale(1.05); /* Efeito de zoom suave */
}

.cartao__conteudo {
    background-color: var(--card-front-color);
    padding: 1.5rem;
    text-align: center;
    border-radius: 8px;
    /* Remover a rotação */
    /* Não aplicamos mais rotação ou efeito 3D aqui */
    position: relative;
}

.cartao__conteudo h3 {
    color: var(--text-color);
    border-bottom: 2px solid var(--border-color);
    padding-bottom: 0.5rem;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.cartao__conteudo p {
    color: var(--text-color);
    font-size: 1rem;
    line-height: 1.5;
}

.cartao__conteudo__pergunta p {
    color: var(--text-color);
    font-weight: 500;
}

.cartao__conteudo__resposta p {
    color: var(--card-back-color);
    font-weight: 700;
}

/* Remover a rotação do cartão */
.cartao__conteudo__pergunta,
.cartao__conteudo__resposta {
    backface-visibility: hidden;
    position: absolute;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

.cartao__conteudo__resposta {
    background-color: rgba(59, 76, 120, 0.2);
    border: 4px solid var(--card-back-color);
}

footer {
    background-color: #1E2A47; /* Cor mais escura para o rodapé */
    color: var(--text-color);
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 3rem;
}

footer p {
    text-align: center;
    font-size: 0.8rem;
    padding-top: 0.5rem;
}

@media (max-width: 560px) {
    body {
        background-color: #212D40;
    }

    .cartao {
        flex: 1 0 calc(100% - 2rem);
    }

    .cartao__conteudo h3 {
        font-size: 4vw;
    }

    .cartao__conteudo p {
        font-size: 4.5vw;
    }
}
